.Dimension_Container {
    min-width: 600px;
    height: 50px;
    border: 1px solid black;
    padding: 5px;
    display: flex;
    gap: 5px;
}

.elements {
    display: flex;
    gap: 10px;
    height: 100%;
    width: 100%;
    border: 1px dashed black;
}

.selectedBox {
    width: max-content;
    height: 35px;
    background-color: darkorange;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;

    & :last-child {
        width: 20px;
        margin-left: 5px;
        & :hover {
            cursor: pointer;
        }
    }
}

.resetBtn {
    display: flex;
    border-radius: 10px;
    background-color: white;
    width: 50px;
    justify-content: center;
    box-shadow: 3px 3px 2px 0px rgba(0,0,0,0.75);

    :hover {
        background-color: #aba7a7;
    }
}
